= form_for(@participant) do |f|

  .row
    .col-xs-12
      %h1 Ihre persönliche Daten

  .row
    .col-sm-6
      Anrede:
    .col-sm-6
      = f.select :sex, ['Herr', 'Frau'], {prompt: 'Bitte wählen'}, {class: (validation_class(:sex))}

  .row
    .col-sm-6
      Akademischer Titel:
    .col-sm-6
      = f.text_field :title, placeholder: 'z.B. Dr.', class: (validation_class(:title))

  .row
    .col-sm-6
      Vorname:
    .col-sm-6
      = f.text_field :first_name, class: (validation_class(:first_name))

  .row
    .col-sm-6
      Nachname:
    .col-sm-6
      = f.text_field :last_name, class: (validation_class(:last_name))

  .row
    .col-sm-6
      Institution/Organisation:
    .col-sm-6
      = f.text_field :organisation, class: (validation_class(:organisation))

  .row
    .col-sm-6
      Straße und Hausnummer:
    .col-sm-6
      = f.text_field :address, class: (validation_class(:address))

  .row
    .col-sm-6
      Postleitzahl:
    .col-sm-6
      = f.text_field :postal_code, class: (validation_class(:postal_code))

  .row
    .col-sm-6
      Ort:
    .col-sm-6
      = f.text_field :city, class: (validation_class(:city))

  .row
    .col-sm-6
      Land:
    .col-sm-6
      = f.text_field :country, class: (validation_class(:country))

  .row
    .col-sm-6
      Email:
    .col-sm-6
      = f.text_field :email, class: (validation_class(:email))

  .row
    .col-sm-6
      Email Wdh.:
    .col-sm-6
      = f.text_field :email_confirmation, class: 'form-control'

  .row
    .col-sm-6
      Telefonnummer:
    .col-sm-6
      = f.text_field :telephone, class: (validation_class(:telephone))

  .row
    .col-sm-12
      = f.label :accepted_data_storage do
        = f.check_box :accepted_data_storage
      %i Ich bin damit einverstanden, dass meine personenbezogenen Daten zur ordnungsmäßen Durchführung der Veranstaltung gespeichert werden.*

  .row
    .col-xs-12
      %h1 Dienstag, 09.05.2017

  .row
    .col-xs-12
      = render 'layouts/flash'
    .col-xs-12.margin-below
      = f.submit 'Abschicken', class: 'btn btn-success'
