.container
  .row
    .col-sm-8.col-sm-offset-2.form
      = form_for(@participant) do |f|

        .row
          .col-xs-12
            = render 'layouts/flash'

          .col-xs-12
            %h1 Programm
            %h1 Donnerstag, 22.06.2017

        .row
          .col-xs-12
            %h4 09:30 - 10:30 Uhr Einlass & Registrierung
            %h4 10:00 - 12:30 Uhr Eröffnung und Vorstellung des Agendaprozesses *
            %label
              = f.radio_button :do_opening, true
              Ja, ich nehme teil
            %br
            %label
              = f.radio_button :do_opening, false
              Nein, ich nehme nicht teil

        .row
          .col-xs-12
            %h4 12:30 - 13:30 Uhr Mittagessen *
            %label
              = f.radio_button :do_lunch, true
              Ja, ich nehme teil
            %br
            %label
              = f.radio_button :do_lunch, false
              Nein, ich nehme nicht teil

        .row
          .col-xs-12
            %h4 13:30 - 16:30 Uhr Workshops *
            %p Ich möchte an folgendem Workshop teilnehmen:
            - (1..4).each do |i|
              %label
                = f.radio_button :do_1330_workshop, i
                = @participant.do_1330_workshops[i]
              %br
            %label
              = f.radio_button :do_1330_workshop, 0
              Ich nehme nicht teil

        .row
          .col-xs-12
            %h4 16:30 – 17:00 Kaffeepause
            %h4 17:00 - 18:30 Uhr Vorstellung der Ergebnisse aus den Workshops
            %h4 18:30 - 22:00 Uhr Konferenzdinner *
            %label
              = f.radio_button :do_dinner, true
              Ja, ich nehme teil
            %br
            %label
              = f.radio_button :do_dinner, false
              Nein, ich nehme nicht teil

        .row
          .col-xs-12
            %h1 Freitag, 23. Juni

        .row
          .col-xs-12
            %h4 08:30 - 09:30 Uhr Einlass & Registrierung
            %h4 09:30 - 10:15 Uhr Eröffnung und Keynote Speech
            %h4 10:15 – 11:45 Uhr Parallele Workshops *
            %p Ich möchte an folgendem Workshop teilnehmen:
            - (1..4).each do |i|
              %label
                = f.radio_button :fr_1015_workshop, i
                = @participant.fr_1015_workshops[i]
              %br
            %label
              = f.radio_button :fr_1015_workshop, 0
              Ich nehme nicht teil

        .row
          .col-xs-12
            %h4 11:45 – 12:15 Uhr Pause
            %h4 12:15 – 13:30 Uhr Abschlussdiskussion und Ausblick auf die Forschungsagenda
            %h4 13:30 - 14:30 Uhr Mittagessen *
            %label
              = f.radio_button :fr_lunch, true
              Ja, ich nehme teil
            %br
            %label
              = f.radio_button :fr_lunch, false
              Nein, ich nehme nicht teil

        .row
          .col-xs-12.margin-below
            = f.hidden_field :pseudo_attribute, value: nil
            = hidden_field_tag :page, 'page_2'
            = f.submit 'weiter zu Seite 3', class: 'btn btn-success'
