.container
  .row
    .col-xs-12
      = render 'layouts/flash'
      %p= link_to 'Liste als Excel-Datei herunterladen', participants_path(format: 'xls') 
      %h1
        = @participants.count
        Teilnehmer/innen angemeldet
  .row
    - @participants.each do |p|
      .col-md-6
        .panel.panel-default
          .panel-heading
            %b= p.last_name + ', ' + p.first_name
            .pull-right
              = link_to participant_path(p) do
                .glyphicon.glyphicon-eye-open
          .panel-body
            = p.organisation
