.container
  .row
    .col-sm-8.col-sm-offset-2.form
      = form_for(@participant) do |f|

        .row
          .col-xs-12
            = render 'layouts/flash'
          .col-xs-12
            %h1 Persönliche Daten

        .row
          .col-sm-6
            Anrede *:
          .col-sm-6
            = f.select :sex, ['Herr', 'Frau'], {prompt: 'Bitte wählen'}, {class: 'form-control'}

        .row
          .col-sm-6
            Akademischer Titel *:
          .col-sm-6
            = f.text_field :title, placeholder: 'z.B. Dr.', class: 'form-control'

        .row
          .col-sm-6
            Vorname *:
          .col-sm-6
            = f.text_field :first_name, class: 'form-control'

        .row
          .col-sm-6
            Nachname *:
          .col-sm-6
            = f.text_field :last_name, class: 'form-control'

        .row
          .col-sm-6
            Institution/Organisation *:
          .col-sm-6
            = f.text_field :organisation, class: 'form-control'

        .row
          .col-sm-6
            Position:
          .col-sm-6
            = f.text_field :projects, placeholder: 'z.B. wiss. Mitarbeiter', class: 'form-control'

        .row
          .col-sm-6
            Straße und Hausnummer *:
          .col-sm-6
            = f.text_field :address, class: 'form-control'

        .row
          .col-sm-6
            Postleitzahl *:
          .col-sm-6
            = f.text_field :postal_code, class: 'form-control'

        .row
          .col-sm-6
            Ort *:
          .col-sm-6
            = f.text_field :city, class: 'form-control'

        .row
          .col-sm-6
            Land *:
          .col-sm-6
            = f.select :country, ISO3166::Country.all_translated('DE').sort_by{ |c| c.downcase }, {prompt: 'Bitte wählen'}, {class: 'form-control'}

        .row
          .col-sm-6
            Email *:
          .col-sm-6
            = f.text_field :email, class: 'form-control'

        .row
          .col-sm-6
            Telefonnummer:
          .col-sm-6
            = f.text_field :telephone, class: 'form-control'

        .row
          .col-sm-6
            Welcher Akteursgruppe würden Sie sich zuordnen? *
          .col-sm-6
            = f.select :group, ['Wissenschaft', 'Wirtschaft', 'Politik', 'Zivilgesellschaft', 'Sonstiges'], {prompt: 'Bitte wählen'}, {class: 'form-control'}

        .row
          .col-sm-12
            .checkbox
              %label
                = f.check_box :accepted_data_storage
                %i Ich bin damit einverstanden, dass meine personenbezogenen Daten zur ordnungsmäßen Durchführung der Veranstaltung gespeichert werden. *

        .row
          .col-xs-12
            %h1 Programm
            %h1 Donnerstag, 22.06.2017

        .row
          .col-xs-12
            %h4 09:30 - 10:30 Uhr Einlass & Registrierung
            %h4 10:00 - 12:30 Uhr Eröffnung und Vorstellung des Agendaprozesses und der Berliner Erklärung *
            %label
              = f.radio_button :do_opening, true
              Ja, ich nehme teil
            %br
            %label
              = f.radio_button :do_opening, false
              Nein, ich nehme nicht teil

        .row
          .col-xs-12
            %h4 12:30 - 13:30 Uhr Mittagessen *
            %label
              = f.radio_button :do_lunch, true
              Ja, ich nehme teil
            %br
            %label
              = f.radio_button :do_lunch, false
              Nein, ich nehme nicht teil

        .row
          .col-xs-12
            %h4 13:30 - 16:30 Uhr Workshops *
            %p Ich möchte an folgendem Workshop teilnehmen:
            - (1..4).each do |i|
              %label
                = f.radio_button :do_1330_workshop, i
                = @participant.do_1330_workshops[i]
              %br
            %label
              = f.radio_button :do_1330_workshop, 0
              Ich nehme nicht teil

        .row
          .col-xs-12
            %h4 16:30 – 17:00 Kaffeepause
            %h4 17:00 - 18:30 Uhr Vorstellung der Ergebnisse aus den Workshops und Verabschiedung der Berliner Erklärung
            %h4 18:30 - 22:00 Uhr Konferenzdinner *
            %label
              = f.radio_button :do_dinner, true
              Ja, ich nehme teil
            %br
            %label
              = f.radio_button :do_dinner, false
              Nein, ich nehme nicht teil

        .row
          .col-xs-12
            %h1 Freitag, 23. Juni

        .row
          .col-xs-12
            %h4 08:30 - 09:30 Uhr Einlass & Registrierung
            %h4 09:30 - 10:15 Uhr Eröffnung und Keynote Speech
            %h4 10:15 – 11:45 Uhr Parallele Workshops *
            %p Ich möchte an folgendem Workshop teilnehmen:
            - (1..4).each do |i|
              %label
                = f.radio_button :fr_1015_workshop, i
                = @participant.fr_1015_workshops[i]
              %br
            %label
              = f.radio_button :fr_1015_workshop, 0
              Ich nehme nicht teil

        .row
          .col-xs-12
            %h4 11:45 – 12:15 Uhr Pause
            %h4 12:15 – 13:30 Uhr Abschlussdiskussion und Ausblick auf die Forschungsagenda
            %h4 13:30 - 14:30 Uhr Mittagessen *
            %label
              = f.radio_button :fr_lunch, true
              Ja, ich nehme teil
            %br
            %label
              = f.radio_button :fr_lunch, false
              Nein, ich nehme nicht teil

        .row
          .col-xs-12
            %h1 Weitere Angaben
            Im Rahmen der Agendakonferenz möchten wir eine Ausstellung der Teilnehmerinnen und Teilnehmer erstellen, um die Vernetzung untereinander zu fördern. Wir würden uns freuen, wenn Sie dafür die folgenden Fragen beantworten würden.
        .row
          .col-xs-12
            %h4 1. Was sind Ihre Themenschwerpunkte oder Projekte in Bezug auf das Themenfeld nachhaltige urbane Mobilität? (Bitte nicht mehr als 4 Punkte)
          .col-xs-12
            = f.text_area :focus, class: 'form-control'

        .row
          .col-xs-12
            %h4 2. Welches der folgenden Verkehrsmittel nutzen Sie persönlich in der Stadt am liebsten?
          .col-xs-12
            - ['das Auto', 'das Fahrrad', 'Busse im öffentlichen Verkehr', 'Bahnen im öffentlichen Verkehr', 'Car- und Bikesharing', 'ein anderes'].each do |t|
              %div
                = f.radio_button :transport, t
                = f.label :transport, t, value: t

        .row
          .col-xs-12
            %h4 3. Was ist Ihrer Meinung nach in aller Kürze der wichtigste Forschungs- oder Handlungsbedarf für eine nachhaltige urbane Mobilität der Zukunft?
          .col-xs-12
            = f.text_area :slogan, class: 'form-control'

        .row
          .col-xs-12
            %h4 4. Um die Vernetzung der Teilnehmerinnen und Teilnehmer auch wirklich zu fördern, möchten wir auch Fotos in die Ausstellung integrieren.  Bitte laden Sie hier ein Foto von sich hoch, wenn Sie eines zur Verfügung haben.
          .col-xs-6
            = f.file_field :portrait
          .col-xs-6
            - if @participant.portrait.url
              = image_tag(@participant.portrait, class: 'portrait')

        .row
          .col-xs-12.margin-below
            = hidden_field_tag :page, 'update'
            = f.submit 'Speichern', class: 'btn btn-success'
