- if @participant.sex == 'Frau'
  Sehr geehrte Frau #{@participant.last_name},
- else
  Sehr geehrter Herr #{@participant.last_name},
\
wir freuen uns, dass Sie sich für die Agendakonferenz Wege zur Mobilitätswende - Forschung und Innovation für eine nachhaltige urbane Mobilität am 22. und 23. Juni in der Hauptstadtrepräsentanz der Deutschen Telekom in Berlin angemeldet haben.
\
Sie haben sich für die folgenden Workshops angemeldet:
Donnerstag 22. Juni 2017: #{@participant.do_1330_workshop_name || 'nicht angemeldet'}
Freitag 23. Juni 2017: #{@participant.fr_1015_workshop_name || 'nicht angemeldet'}
\
Laufend aktualisierte Informationen zur Konferenz erhalten Sie hier: http://www.fona.de/urbanmobil
\
Zur Bestätigung hier noch einmal Ihre persönlichen Daten:
\
Vorname:
= @participant.first_name
\
Nachname:
= @participant.last_name
\
Institution/Organisation:
= @participant.organisation
\
-if @participant.position.present?
  Position:
  = @participant.position
  \
Straße und Hausnummer:
= @participant.address
\
PLZ:
= @participant.postal_code
\
Ort:
= @participant.city
\
Land:
= @participant.country
\
E-Mail:
= @participant.email
\
- if @participant.telephone.present?
  Telefonnummer:
  = @participant.telephone
  \
- if @participant.group.present?
  Akteursgruppe:
  = @participant.group
  \
Wir freuen uns auf Ihr Kommen. 
Ihr Projektteam Agendaprozess Nachhaltige Urbane Mobilität
\
\
_____
\
Sollten Sie diese Anmeldung nicht veranlasst haben, so informieren Sie uns bitte umgehend per Rückantwort, um einen Missbrauch Ihrer persönlichen Daten auszuschließen.
