!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Forschungsagenda
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    %nav.navbar.navbar-default
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .logo.logo-left
            = image_tag 'bmbf_logo.png', height: 80
          .logo.logo-right
            = image_tag 'fona_logo.jpg', height: 70
        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              = link_to 'Startseite', root_path
            %li
              = link_to 'Anmelden', new_participant_path
            %li
              = link_to 'Programm', 'http://www.fona.de/de/programm-22176.html'
            %li
              = link_to 'Kontakt', contact_path

    = yield

    %footer.footer
      .container
        .pull-right
          = link_to 'Impressum', imprint_path
